In [2]:
import geopandas as gp
import csv
import pandas as pd
from shapely.geometry import LineString
import matplotlib.pyplot as plot
import mysql.connector
from shapely.geometry import Polygon, mapping
import datetime

In [2]:
file = "./demographic_NY/census_block_demographic_NY.geojson"  
block_pop = gp.read_file(file)
block_pop.head()

,STATEFP10,GEOID,B02001e1,B02001e2,B02001e3,B02001e4,B02001e5,B02001e6,B03002e12,geometry
0,36,15000US360070121011,607,600,7,0,0,0,0,"MULTIPOLYGON (((-75.89054 42.18697, -75.89920 ..."
1,36,15000US360070121014,954,935,0,0,19,0,0,"MULTIPOLYGON (((-75.87509 42.17416, -75.87541 ..."
2,36,15000US360070121013,1186,1142,44,0,0,0,0,"MULTIPOLYGON (((-75.83838 42.19741, -75.83813 ..."
3,36,15000US360070121024,1074,968,0,0,69,0,23,"MULTIPOLYGON (((-75.85079 42.16052, -75.85114 ..."
4,36,15000US360070121023,823,714,0,0,0,0,0,"MULTIPOLYGON (((-75.87457 42.17416, -75.87338 ..."

In [3]:
#Rename columns
block_pop.rename(columns = {"B02001e6":"hawaiian"}, inplace = True)
block_pop.rename(columns = {"B03002e12":"hispanic_latino"}, inplace = True)
block_pop.rename(columns = {"B02001e5":"asian"}, inplace = True)
block_pop.rename(columns = {"B02001e2":"white"}, inplace = True)
block_pop.rename(columns = {"B02001e3":"black"}, inplace = True)
block_pop.rename(columns = {"B02001e1":"total"}, inplace = True)
block_pop.rename(columns = {"B02001e4":"indian_alaska"}, inplace = True)

#Drop column
#df = df.drop (columns = ['ALAND10'])
block_pop.head()

,STATEFP10,GEOID,total,white,black,indian_alaska,asian,hawaiian,hispanic_latino,geometry
0,36,15000US360070121011,607,600,7,0,0,0,0,"MULTIPOLYGON (((-75.89054 42.18697, -75.89920 ..."
1,36,15000US360070121014,954,935,0,0,19,0,0,"MULTIPOLYGON (((-75.87509 42.17416, -75.87541 ..."
2,36,15000US360070121013,1186,1142,44,0,0,0,0,"MULTIPOLYGON (((-75.83838 42.19741, -75.83813 ..."
3,36,15000US360070121024,1074,968,0,0,69,0,23,"MULTIPOLYGON (((-75.85079 42.16052, -75.85114 ..."
4,36,15000US360070121023,823,714,0,0,0,0,0,"MULTIPOLYGON (((-75.87457 42.17416, -75.87338 ..."

In [5]:
file = "./NY/NY.geojson"  
precincts = gp.read_file(file)
precincts.head()

,id,canonical,type,centerX,centerY,neighbors,geometry
0,36001263,NY Albany 263,ORIGINAL,+42.7272097,-073.7873353,"36001262,36001253,36001247,36001252,36001265,3...","MULTIPOLYGON (((-73.79031 42.72261, -73.79523 ..."
1,36001232,NY Albany 232,ORIGINAL,+42.7295842,-073.7227157,"36001243,36001249,36001343,36001344,36001251,3...","MULTIPOLYGON (((-73.71364 42.72799, -73.71119 ..."
2,36001342,NY Albany 342,ORIGINAL,+42.7348777,-073.7093285,"36001233,36001243,36001340,36001341,36001339,3...","MULTIPOLYGON (((-73.71210 42.73705, -73.71182 ..."
3,36001341,NY Albany 341,ORIGINAL,+42.7355901,-073.7037615,"36001233,36001342,36001339,36001285","MULTIPOLYGON (((-73.70277 42.73421, -73.70857 ..."
4,36001277,NY Albany 277,ORIGINAL,+42.7313271,-073.8385576,"36001275,36001276,36001273","MULTIPOLYGON (((-73.82521 42.72768, -73.82606 ..."

In [6]:
precinct_demographics = precincts[['id', 'geometry']].copy()

#Add type columns
precinct_demographics.insert(1, 'total', 0)
precinct_demographics.insert(2, 'white', 0)
precinct_demographics.insert(3, 'black', 0)
precinct_demographics.insert(4, 'hispanic_latino', 0)
precinct_demographics.insert(5, 'asian', 0)
precinct_demographics.insert(6, 'indian_alaska', 0)
precinct_demographics.insert(7, 'hawaiian', 0)

precinct_demographics.head()

,id,total,white,black,hispanic_latino,asian,indian_alaska,hawaiian,geometry
0,36001263,0,0,0,0,0,0,0,"MULTIPOLYGON (((-73.79031 42.72261, -73.79523 ..."
1,36001232,0,0,0,0,0,0,0,"MULTIPOLYGON (((-73.71364 42.72799, -73.71119 ..."
2,36001342,0,0,0,0,0,0,0,"MULTIPOLYGON (((-73.71210 42.73705, -73.71182 ..."
3,36001341,0,0,0,0,0,0,0,"MULTIPOLYGON (((-73.70277 42.73421, -73.70857 ..."
4,36001277,0,0,0,0,0,0,0,"MULTIPOLYGON (((-73.82521 42.72768, -73.82606 ..."

In [7]:
#Data assign based if census block or precinct enclosed
for i_precinct, row_precinct in precinct_demographics.iterrows():
    if i_precinct % 1000 == 0:
            print (datetime.datetime.now().strftime("%H:%M:%S"), i_precinct)    
    for i_block, row_block in block_pop.iterrows():
        
        if row_precinct.geometry.contains(row_block.geometry) or row_precinct.geometry.within(row_block.geometry):
            print ("Precinct", row_precinct['id'], 'contains block ', i_block)
            precinct_demographics.at[i_precinct, 'total'] += row_block['total']
            precinct_demographics.at[i_precinct, 'white'] += row_block['white']
            precinct_demographics.at[i_precinct, 'black'] += row_block['black']
            precinct_demographics.at[i_precinct, 'hispanic_latino'] += row_block['hispanic_latino']
            precinct_demographics.at[i_precinct, 'asian'] += row_block['asian']
            precinct_demographics.at[i_precinct, 'indian_alaska'] += row_block['indian_alaska']
            precinct_demographics.at[i_precinct, 'hawaiian'] += row_block['hawaiian']
            block_pop = block_pop.drop(i_block)

22:10:02 0
Precinct 3600141 contains block  3758
Precinct 3600120 contains block  3757
Precinct 36005492 contains block  14822
Precinct 3600528 contains block  14262
Precinct 36005296 contains block  13980
Precinct 36005608 contains block  14987
Precinct 36005453 contains block  15194
Precinct 36005442 contains block  14751
Precinct 36005423 contains block  14834
Precinct 36005213 contains block  13715
Precinct 36005243 contains block  14410
Precinct 36005609 contains block  14633
Precinct 36005609 contains block  14636
Precinct 36005609 contains block  14637
Precinct 36005195 contains block  15251
Precinct 36005770 contains block  13798
Precinct 36005796 contains block  14024
Precinct 36005901 contains block  14716
Precinct 36005112 contains block  14155
Precinct 36005112 contains block  14157
22:42:36 1000
Precinct 36005773 contains block  14494
Precinct 36005773 contains block  14608
Precinct 36005816 contains block  14029
Precinct 36005919 contains block  14491
Precinct 36005542 contains block  14831
Precinct 36007183 contains block  136
Precinct 3600777 contains block  82
Precinct 36007104 contains block  173
Precinct 36007104 contains block  192
Precinct 36007104 contains block  194
Precinct 36007104 contains block  195
Precinct 3601113 contains block  14775
Precinct 3601360 contains block  11754
Precinct 3602134 contains block  7529
Precinct 360238 contains block  13575
Precinct 3602555 contains block  7512
Precinct 3602555 contains block  7513
Precinct 3602555 contains block  7514
Precinct 3602532 contains block  7689
Precinct 3602532 contains block  7690
Precinct 3602510 contains block  7685
23:15:29 2000
Precinct 3602759 contains block  3777
Precinct 36027199 contains block  4648
Precinct 36029632 contains block  9851
Precinct 36029947 contains block  8839
Precinct 36029139 contains block  10938
Precinct 36029894 contains block  9847
Precinct 3602911 contains block  10288
Precinct 3602911 contains block  11110
Precinct 3602911 contains block  11111
Precinct 36029507 contains block  9660
Precinct 36029507 contains block  9662
Precinct 36029868 contains block  11575
Precinct 36029950 contains block  9023
Precinct 36029901 contains block  11330
Precinct 3602923 contains block  10485
Precinct 3602923 contains block  10693
Precinct 36029897 contains block  11340
Precinct 36029675 contains block  10314
Precinct 36029795 contains block  10165
Precinct 360292 contains block  10915
Precinct 3602971 contains block  10939
Precinct 36029475 contains block  10002
Precinct 36029475 contains block  10004
Precinct 36029200 contains block  9348
Precinct 36029661 contains block  10152
Precinct 36029256 contains block  10292
Precinct 36029526 contains block  11324
Precinct 36029643 contains block  9202
Precinct 36029643 contains block  9852
Precinct 36029273 contains block  9366
Precinct 36029959 contains block  9017
23:49:09 3000
Precinct 3604355 contains block  886
Precinct 3604543 contains block  3876
Precinct 360472036 contains block  6002
Precinct 36047510 contains block  6210
Precinct 36047511 contains block  6142
Precinct 36047135 contains block  6402
Precinct 36047622 contains block  4701
Precinct 36047622 contains block  4702
Precinct 36047797 contains block  4396
Precinct 36047598 contains block  5370
00:21:29 4000
Precinct 360472028 contains block  5376
Precinct 36047886 contains block  5595
Precinct 36047697 contains block  4704
Precinct 36047697 contains block  4705
Precinct 36047697 contains block  4706
Precinct 36047697 contains block  4715
Precinct 36047697 contains block  4716
Precinct 36047697 contains block  4717
Precinct 36047697 contains block  4720
Precinct 36047741 contains block  4132
Precinct 360471719 contains block  5230
Precinct 360471064 contains block  5614
Precinct 360471040 contains block  6197
Precinct 360471797 contains block  3997
00:53:50 5000
Precinct 36055118 contains block  1528
Precinct 3605542 contains block  1729
Precinct 36055658 contains block  1650
Precinct 36055209 contains block  1848
Precinct 36055718 contains block  1657
Precinct 36055565 contains block  1778
Precinct 36055136 contains block  1898
Precinct 36055386 contains block  2031
Precinct 36055165 contains block  1628
Precinct 36055207 contains block  1949
01:26:12 6000
Precinct 36055453 contains block  2038
Precinct 36055471 contains block  1856
Precinct 36059263 contains block  7275
Precinct 36059543 contains block  7446
Precinct 36059221 contains block  8609
Precinct 36059812 contains block  7106
Precinct 360591062 contains block  7214
Precinct 36059641 contains block  7602
Precinct 36059326 contains block  7544
Precinct 36059389 contains block  6747
01:58:31 7000
Precinct 360591109 contains block  8369
Precinct 36059259 contains block  8667
Precinct 36059163 contains block  6944
Precinct 36059161 contains block  7622
Precinct 36059160 contains block  6945
Precinct 36059192 contains block  7234
Precinct 36061887 contains block  3277
Precinct 36061533 contains block  2709
Precinct 36061529 contains block  2932
Precinct 36061529 contains block  3224
Precinct 36061529 contains block  3225
Precinct 36061849 contains block  2872
Precinct 36061849 contains block  3421
Precinct 36061849 contains block  3425
Precinct 36061662 contains block  3220
Precinct 36061662 contains block  3226
Precinct 36061662 contains block  3398
Precinct 36061186 contains block  2817
Precinct 360611047 contains block  3117
Precinct 360611290 contains block  2600
Precinct 360611193 contains block  2251
Precinct 360611144 contains block  2941
Precinct 360611089 contains block  2651
Precinct 360612 contains block  3300
Precinct 360611 contains block  3329
02:30:51 8000
Precinct 36061190 contains block  2728
Precinct 360611281 contains block  3163
Precinct 360611164 contains block  2672
Precinct 36061331 contains block  2824
Precinct 3606137 contains block  2502
Precinct 3606395 contains block  9
Precinct 3606395 contains block  481
Precinct 3606539 contains block  12430
Precinct 36067345 contains block  5946
Precinct 36067434 contains block  6569
03:03:05 9000
Precinct 36067411 contains block  6578
Precinct 36067377 contains block  5398
Precinct 3607125 contains block  14091
Precinct 36071292 contains block  14922
Precinct 3607164 contains block  14423
Precinct 3607577 contains block  692
Precinct 360751 contains block  907
Precinct 3607977 contains block  13513
03:35:18 10000
Precinct 36081237 contains block  10882
Precinct 360811557 contains block  8747
Precinct 36081880 contains block  10842
Precinct 36081339 contains block  8782
Precinct 360811212 contains block  9456
Precinct 36081413 contains block  10096
Precinct 36081146 contains block  10272
Precinct 36081946 contains block  11468
Precinct 36081127 contains block  9124
Precinct 36081566 contains block  8718
Precinct 36081513 contains block  8897
Precinct 360811194 contains block  11017
Precinct 36081628 contains block  11038
Precinct 36081665 contains block  9301
04:07:29 11000
Precinct 360811516 contains block  9305
Precinct 36081710 contains block  9593
Precinct 3608392 contains block  631
Precinct 3608526 contains block  1243
Precinct 3608526 contains block  1249
Precinct 3608551 contains block  1254
Precinct 3608782 contains block  11371
04:39:40 12000
Precinct 360896 contains block  9054
Precinct 3608975 contains block  8877
Precinct 3609519 contains block  14553
Precinct 3610125 contains block  15311
Precinct 3610166 contains block  15305
Precinct 36103438 contains block  11679
Precinct 36103862 contains block  11788
Precinct 36103407 contains block  12405
05:11:46 13000
Precinct 3610386 contains block  13160
Precinct 36103863 contains block  12748
Precinct 3610338 contains block  11793
Precinct 3610720 contains block  12358
Precinct 3610732 contains block  12445
Precinct 3611145 contains block  1398
Precinct 361113 contains block  1330
Precinct 361113 contains block  1387
Precinct 36111146 contains block  1273
05:43:56 14000
Precinct 36119765 contains block  8554
Precinct 36119339 contains block  8006
Precinct 36119720 contains block  6977
Precinct 36119342 contains block  8098
Precinct 361191018 contains block  7154
Precinct 36119180 contains block  7477
Precinct 36119746 contains block  6679
Precinct 36119354 contains block  7913

Precinct 36119827 contains block  6677
Precinct 36119108 contains block  8094
Precinct 36119831 contains block  6820
Precinct 36119623 contains block  7333
Precinct 36119452 contains block  7003
Precinct 36119937 contains block  7485
Precinct 36119259 contains block  7824

In [8]:
#Data assign based on how much census block area inside of a precinct 
for i_precinct, row_precinct in precincts.iterrows():
    if i_precinct % 1000 == 0:
            print (datetime.datetime.now().strftime("%H:%M:%S"), i_precinct)
            
    for i_block, row_block in block_pop.iterrows():
        intersection = row_precinct.geometry.intersection(row_block.geometry)
        if intersection.area > 0:
            ratio = intersection.area / row_precinct.geometry.area
            precinct_demographics.at[i_precinct, 'total'] += round(row_block['total'] * ratio)
            precinct_demographics.at[i_precinct, 'white'] += round(row_block['white'] * ratio)
            precinct_demographics.at[i_precinct, 'black'] += round(row_block['black'] * ratio)
            precinct_demographics.at[i_precinct, 'hispanic_latino'] += round(row_block['hispanic_latino'] * ratio)
            precinct_demographics.at[i_precinct, 'asian'] += round(row_block['asian'] * ratio)
            precinct_demographics.at[i_precinct, 'indian_alaska'] += round(row_block['indian_alaska'] * ratio)
            precinct_demographics.at[i_precinct, 'hawaiian'] += round(row_block['hawaiian'] * ratio)

06:13:38 0
06:44:39 1000
07:15:52 2000
07:46:56 3000
08:17:59 4000
08:48:54 5000
09:19:56 6000
09:50:57 7000
10:21:51 8000
10:52:50 9000
11:23:57 10000
11:55:49 11000
12:28:33 12000
13:01:01 13000
13:32:15 14000

In [9]:
precinct_demographics = precinct_demographics.drop(columns = ['geometry'])
pd.DataFrame(precinct_demographics).to_json("./demographic_NY/precinct_demographic_NY.json")

In [11]:
precinct_demographics.head(10)

,id,total,white,black,hispanic_latino,asian,indian_alaska,hawaiian
0,36001263,2301,2077,102,59,57,6,0
1,36001232,1435,1157,96,75,171,0,0
2,36001342,759,599,97,29,5,1,0
3,36001341,485,467,2,5,0,0,0
4,36001277,1706,1447,36,169,141,0,0
5,36001346,2089,1533,233,161,46,13,0
6,36001278,1177,1076,43,19,33,4,0
7,36001251,2726,2471,21,51,185,3,0
8,36001339,692,595,92,6,0,0,0
9,36001340,736,559,147,20,0,0,0

In [3]:
#POPULATE DATABASE
mydb = mysql.connector.connect(
    host="mysql3.cs.stonybrook.edu",
    user='mhaczynska',
    passwd="110670160",
    database = 'mhaczynska'    
)

cursor = mydb.cursor()
print (mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000014EF7B70248>

In [4]:
precinct_demographics = pd.read_json("./demographic_NY/precinct_demographic_NY.json")
precinct_demographics.head()

,id,total,white,black,hispanic_latino,asian,indian_alaska,hawaiian
0,36001263,2301,2077,102,59,57,6,0
1,36001232,1435,1157,96,75,171,0,0
2,36001342,759,599,97,29,5,1,0
3,36001341,485,467,2,5,0,0,0
4,36001277,1706,1447,36,169,141,0,0

In [5]:
add_demographic_querry = ("INSERT INTO mhaczynska.DEMOGRAPHIC_DATA "
               "(PRECINCT_GEOID, STATE_ID, TOTAL_POPULATION, WHITE, "
               " BLACK, HISPANIC_LATINO, ASIAN, INDIAN_ALASKAN, HAWAIIAN_PACIFIC) "
               "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)")

#update_precinct_querry = "UPDATE mhaczynska.precinct SET CENTER_X = %s, CENTER_Y = %s WHERE GEO_ID = %s"

STATE = 'NY'
for index, row in precinct_demographics.iterrows(): 
    demographic_data = (row['id'].item(), None , row['total'].item(), row['white'].item(), row['black'].item() , 
                        row['hispanic_latino'].item(), row['asian'].item(), row['indian_alaska'].item(), row['hawaiian'].item())
    #update_precinct = (row['centerX'], row['centerY'], row['id'])
    cursor.execute(add_demographic_querry, demographic_data)    
    mydb.commit()

In [2]:
cursor.close()
mydb.close()

NameError: name 'cursor' is not defined