In [13]:
import geopandas as gp
import csv
import pandas as pd
from shapely.geometry import LineString
import matplotlib.pyplot as plot
import mysql.connector
from shapely.geometry import Polygon, mapping
import datetime

In [14]:
file = "./national_parks/NY/oprhp18.shp"    

df = gp.read_file(file)

In [15]:
df.head()

,UID,Name,Category,Descript,Region,County,Source,Orig,Update_,URL,Acre,Tot_acre,Shape_Leng,Shape_Area,geometry
0,R120,Robert Moses,State Park,None,10,St. Lawrence,None,1978,None,http://nysparks.com/parks/51/details.aspx,914.216202,2709.0,13269.179562,3.699782e+06,"POLYGON ((513714.156 4982010.500, 513689.156 4..."
1,R120,Robert Moses,State Park,None,10,St. Lawrence,None,1978,None,http://nysparks.com/parks/51/details.aspx,907.297508,2709.0,11798.425842,3.671783e+06,"POLYGON ((514203.844 4981877.500, 514216.781 4..."
2,R120,Robert Moses,State Park,None,10,St. Lawrence,None,1978,None,http://nysparks.com/parks/51/details.aspx,887.785202,2709.0,11051.714408,3.592817e+06,"POLYGON ((513537.188 4981585.000, 513529.813 4..."
3,None,Croil Island,State Park,None,10,St. Lawrence,None,1934,None,None,617.370521,723.0,9328.462633,2.498464e+06,"POLYGON ((500928.531 4978856.500, 500896.938 4..."
4,None,Croil Island,State Park,None,10,St. Lawrence,None,1934,None,None,85.041703,723.0,3030.434058,3.441591e+05,"POLYGON ((503539.219 4979211.000, 503513.656 4..."

In [16]:
df = df.drop (columns = ['UID', 'Region', 'Category', 'Descript', 'County', 'Source', 'Orig', 'Update_', 'URL', 'Acre', 'Tot_acre', 'Shape_Leng', 'Shape_Area'])

df.rename(columns = {"Name":"id"}, inplace = True)
#df.rename(columns = {"INTPTLAT10":"centerX"}, inplace = True)
#df.rename(columns = {"INTPTLON10":"centerY"}, inplace = True)
#df.rename(columns = {"NEIGHBORS":"neighbors"}, inplace = True)

#Add type columns
#df.insert(1, 'canonical', None)
df.insert(1, 'type', 'NATIONAL_PARK')

In [17]:
df.head()

,id,type,geometry
0,Robert Moses,NATIONAL_PARK,"POLYGON ((513714.156 4982010.500, 513689.156 4..."
1,Robert Moses,NATIONAL_PARK,"POLYGON ((514203.844 4981877.500, 514216.781 4..."
2,Robert Moses,NATIONAL_PARK,"POLYGON ((513537.188 4981585.000, 513529.813 4..."
3,Croil Island,NATIONAL_PARK,"POLYGON ((500928.531 4978856.500, 500896.938 4..."
4,Croil Island,NATIONAL_PARK,"POLYGON ((503539.219 4979211.000, 503513.656 4..."

In [18]:
df.to_file("./national_parks/NY/NY_national_parks", driver='GeoJSON')